<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="card">
            <h5 class="card-header">Sign In</h5>
            <div class="card-body">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-horizontal", role: "form" }) do |f| %>
                    <div style="margin-bottom: 25px" class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-user"></i></div>
                        </div>
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "e-mail" %>
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></div>
                        </div>
                        <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "senha" %>
                    </div>

                    <% if devise_mapping.rememberable? -%>
                        <div class="input-group">
                            <div class="checkbox">
                                <%= f.check_box :remember_me, id: "login-remember" %>
                                <%= f.label :remember_me %>
                            </div>
                        </div>
                    <% end -%>

                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <%= f.submit "Log in", id: "btn-login", class: "btn btn-success" %>
                        </div>
                    </div>

                    <%= render "members/shared/links" %>
                <% end %>
            </div>
        </div>
    </div>
</div>
<% flash.each do |key, value| %>
    <script>
        $.notify("<%= value %>", "error")
    </script>
<% end %>