<h1>Listando anúncios</h1>

<!-- /.panel-heading -->
<div class="panel-body">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Imagem</th>
                    <th>Título</th>
                    <th>Categoria</th>
                    <th colspan="2">Preço</th>
                </tr>
            </thead>
            <tbody>
                <% @ads.each do |ad| %>
                    <tr>
                        <td><%= ad.id %></td>
                        <td><%= image_tag ad.picture, size: "100x100" %></td>
                        <td><%= ad.title %></td>
                        <td><%= ad.category.description %></td>
                        <td><%= humanized_money_with_symbol ad.price %></td>
                        <td>
                            <%= link_to edit_site_profile_ad_path(ad),  class: "btn btn-primary btn-sm" do %>
                                <i class="fa fa-edit"></i>
                            <% end %>
                        <td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <!-- /.table-responsive -->
</div>
<!-- /.panel-body -->
