<!DOCTYPE html>
<html>
    <head>
        <title>Escamboapp - BackOffice</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= stylesheet_link_tag    'backoffice', media: 'all' %>
        <%= javascript_include_tag 'application' %>
        <%= javascript_include_tag 'backoffice' %>
    </head>

    <body>
        <div id="wrapper">
            <%= render partial: "layouts/backoffice_shared/navigation" %>

            <!-- Page Content -->
            <div id="page-wrapper">
                <div class="container-fluid">
                    <%= yield %>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->

        <% if notice %>
            <%= javascript_tag "$.notify('#{notice}', 'success');" %>
        <% end %>

        <% if alert %>
            <%= javascript_tag "$.notify('#{alert}', 'error');" %>
        <% end %>
    </body>
</html>
