<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title><%= t('app.name') %></title>

        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= stylesheet_link_tag    'site', media: 'all' %>
        <%= javascript_include_tag 'application' %>
        <%= javascript_include_tag 'site' %>

        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
    </head>
    <body>

      <div id="wrapper">

        <div id="global-spin" class="loading" style="display: none">Loading&#8230;</div>

        <%= render partial: "layouts/site_shared/navigation" %>

        <!-- Page Content -->
        <div class="container">

          <nav class="navbar navbar-light bg-light">
            <div class="col-md-3"></div>
            <div class="col-md-6">
            <%= form_tag site_search_path, method: :get, class: "form-inline" do %>
                <%= text_field_tag(:q, params[:q], {class: "form-control mr-sm-2",
                                                    type: "search", placeholder: "Pesquisar por..."}) %>
                <%= submit_tag("Pesquisar", {class: "btn btn-outline-success my-2 my-sm-0"}) %>
            <% end %>
            </div>
            <div class="col-md-3"></div>
          </nav>

          <div class="row">

            <%= render partial: 'layouts/site_shared/sidebar' %>

            <div id="home-detail" class="col-md-9">

              <% if controller_path == 'site/home' %>
                <%= render partial: 'layouts/site_shared/carousel' %>
              <% end %>

              <div class="row">
                <%= yield %>
              </div>

            </div>

          </div>

        </div>
        <!-- /.container -->

        </div>
        <!-- /.container -->

        <%= render partial: "layouts/site_shared/footer" %>

      </div>
      <!-- /#wrapper -->

    </body>
</html>
